

div {
  margin: 0px;
  padding: 0px;
}

.seccion {
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;
  border-radius: 8px;
  padding: 7px;
}



.contenido {
  height: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20fr;
  padding: 10px;

}

.seccionCabecera {
  grid-row: 1;
  grid-column: 1;
}

.seccionCuerpo {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;



  padding: 0px;
  
  grid-row: 2;
  grid-column: 1;
}

.seccionDatos  {
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;
  border-radius: 8px;
  grid-row: 1;
  grid-column: 1;
}



.seccionGrafico div {
  margin-right: 15px;
}

.card-panel {
  grid-column: 1;
}

.svg-container {
  margin: 7.25px 0px 14px;
  width: 100%;
  height: 80%;
  overflow-y: hidden; 
  overflow-x: hidden;
}

#ultimaAccion {
  margin-left: 40px;
}

.campo {
  display: flex;
  align-content: stretch;
  margin-bottom: 5px;
}

.contenidoCampoActividad {
  font-weight: bold;
  width: 90%;
  margin-left: 20px;
}

.etiquetaCampoActividad {
  width: 230px;
}

[type="checkbox"]+span:not(.lever) {
  padding-left: 25px;
}



.seccionOpcionesGrafico {
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;
  border-radius: 8px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 3.5fr 2fr;
  grid-template-rows: 1fr;


}

.cabeceraSeccionConfiguracion {
  padding: 0px;
  margin: 0px;

}

.opcionConfiguracionActividades {
  grid-row: 1;
  grid-column: 1;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 10px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1;
  grid-template-rows: 1fr 8fr;


}
.opcionConfiguracionSemana {
  grid-row:1;
  grid-column: 2;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 4fr;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 10px;

}

.cabeceraSeccionConfiguracionSemana {
  grid-row: 1;
  grid-column: 1;

}

.opcionFranjaHoraria {
  grid-row: 2;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
}

.opcionDiasSemana {
  grid-row: 3;
  display: flex;
  justify-content:center;
}



.opcionHoraInicio {
  grid-row: 1;
  grid-column: 1;

}
.opcionHoraFin {
  grid-row: 1;
  grid-column: 2;

}

.opcionConfiguracionPlantilla {
  grid-row: 1;
  grid-column: 3;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  


}

.cabeceraSeccionConfiguracionPlantilla {
  grid-row: 1;
  grid-column: 1;

}

.opcionColorSesiones {
  grid-row: 2;
  grid-column: 1;

}



